<div class="create-post">
	<h2>Create New Post</h2>

	<form class="new-post">
		<div class="post-container">
			<label for="title-post">Title:</label>
			<input class="post-input" type="text" id="post-title" />
		</div>

		<label for="post-text">Text</label>
		<textarea
			class="entry-field"
			id="post-content"
			name="post-content"
		></textarea>

		<div class="post-new">
			<button class="btn btn-primary" type="submit">login</button>
		</div>
	</form>
</div>