<div class="col-md-6">
	<h2>Signup</h2>
	<p>Please fill in this form to create an account.</p>
	<br />
	<form class="form signup-form">
		<div class="form-group">
			<label for="username-signup">username:</label>
			<input class="form-input" type="text" id="username-signup" />
		</div>
		<div class="form-group">
			<label for="email-signup">email:</label>
			<input class="form-input" type="text" id="email-signup" />
		</div>
		<div class="form-group">
			<label for="password-signup">password:</label>
			<input class="form-input" type="password" id="password-signup" />
		</div>
		<br />
		<div class="form-group">
			<button
				class="btn btn-primary"
				id="signup-btn"
				type="submit"
			>signup</button>
		</div>
	</form>
	<br />
	<label>
		<input
			type="checkbox"
			checked="checked"
			name="remember"
			style="margin-bottom:15px"
		/>
		Remember me
	</label>
</div>

<script src="./js/signup.js"></script>