:root {
	--manatee: #8e9aafff;
	--languid-lavender: #cbc0d3ff;
	--pale-pink: #efd3d7ff;
	--pale-purple-pantone: #feeafaff;
	--lavender-web: #dee2ffff;
	--grey-blue: #355070ff;
	--chinese-violet: #6d597aff;
	--cinnamon-satin: #b56576ff;
	--candy-pink: #e56b6fff;
	--tumbleweed: #eaac8bff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--pale-pink);
}

h1 {
	color: var(--grey-blue);
}

a {
	text-decoration: none;
}

h4 {
	border-radius: 2px;
	border-style: solid;
	border-color: var(--cinnamon-satin);
	font-size: 30px;
	height: 6vh;
}

.hide {
	display: none;
}

.show {
	display: block;
}

/* title */

.tech-blog {
	font-size: 35px;
}

/* nav bar */

nav {
	/* border-radius: 3px;
	border-color: var(--manatee);
	border-style: solid; */
	height: 4rem;
	font-size: 20px;
	align-items: center;
	display: inline-block;
	margin-left: 3%;
}

ul {
	display: block;
	list-style: none;
	float: left;
}
ul a {
	display: inline-block;
	background-color: #fefefe;
	border: 2px solid;
	padding: 3px;
	border-radius: 5px 5px;
	color: rgb(40, 40, 40);
	text-decoration: none;
}
ul a:hover {
	background-color: var(--lavender-web);
	border: 3px solid;
}

.card-container {
	border-radius: 3px;
	border-style: solid;
	border-color: var(--chinese-violet);
	margin-top: 45px;
	height: 12vh;
}

/* Dashboard */

.your-posts {
	margin-top: 20px;
}
.posts-content {
	border-radius: 2px;
	border-style: solid;
	border-color: var(--grey-blue);
	height: 60vh;
}

#form-post {
	margin-top: 2%;
	align-items: center;
	margin-left: 40%;
	font-size: 20px;
}

.add-post {
	display: inline-block;
	background-color: #fefefe;
	border: 2px solid;
	padding: 3px;
	border-radius: 5px 5px;
	color: rgb(40, 40, 40);
	text-decoration: none;
	display: block;
	list-style: none;
}

.add-post :hover {
	background-color: var(--lavender-web);
	border: 3px solid;
}

/* post styling */

.posted-by {
	font-size: 16px;
}

.card-body {
	font-size: 22px;
}

/* Footer */

footer {
	margin-top: 18%;
}
